.App {
  text-align: center;
  background-color: rgba(250, 247, 245, 0.938) ;
}

.black{
  font-size: 30px;
  color:black;
  cursor: pointer;
}
.gold{
  font-size: 30px;
  color:gold;
  cursor: pointer;
}
.search-btn{
  margin-right:auto;
}
